
html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
    font-size: 1.6rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

